<%- include("partials/header"); -%>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
  crossorigin="anonymous"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="mil-content">
  <div class="mil-scroll-wrapper transition-fade" id="swupMain">
    <div class="mil-container-fw">
      <div class="mil-section-title mil-up">
        <div class="mil-divider"></div>
        <h3>All Artists Table</h3>
      </div>

      <section class="mil-p-90-30">
        <div class="row justify-content-between align-items-center">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Artist Code</th>
                <th scope="col">Artist Name</th>
                <th scope="col">Artist Type</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% artists.forEach(function(artist) { %>
              <tr>
                <th scope="row"><%= artist.code %></th>
                <td><%= artist.name %></td>
                <td style="text-transform: capitalize">
                  <%= artist.artistType %>
                </td>
                <td>
                  <% if (artist.showBookMySinger) { %>
                  <button
                    class="statusButton btn btn-success"
                    data-artist-id="<%= artist._id %>"
                  >
                    Live
                  </button>
                  <% } else { %>
                  <button
                    class="statusButton btn btn-warning"
                    data-artist-id="<%= artist._id %>"
                  >
                    Hidden
                  </button>
                  <% } %>
                </td>
                <td>
                  <button class="btn btn-dark">
                    <a
                      href="/artist/<%= artist.artistType %>/<%= artist.linkid %>"
                      style="text-decoration: none; color: #fff"
                      >View</a
                    >
                  </button>
                </td>
                <td>
                  <a
                    href="/edit-artist/<%= artist.artistType %>/<%= artist.linkid %>"
                    ><button class="btn btn-primary">Edit</button></a
                  >
                </td>
                <td><button class="btn btn-danger">Delete</button></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Select all buttons with class "statusButton"
    const statusButtons = document.querySelectorAll(".statusButton");

    // Add click event listener to each button
    statusButtons.forEach((button) => {
      button.addEventListener("click", function () {
        // Retrieve the artist ID from the data attribute
        const artistId = this.dataset.artistId;

        // Determine the status message and color based on showBookMySinger
        const statusMessage = "Are you sure you want to change the status?";
        const statusColor = "red";

        // Show SweetAlert confirmation popup
        Swal.fire({
          title: statusMessage,
          icon: "question",
          showCancelButton: true,
          confirmButtonColor: statusColor,
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes",
          cancelButtonText: "No",
        }).then((result) => {
          if (result.isConfirmed) {
            // Send AJAX request to update artist status
            fetch(`/edit-artist-status/${artistId}`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              // You can send additional data in the body if needed
              // body: JSON.stringify({}),
            })
              .then((response) => response.json())
              .then((data) => {
                // Show success message if status is updated successfully
                if (data.success) {
                  Swal.fire({
                    title: "Success",
                    text: "Artist is successfully updated",
                    icon: "success",
                    confirmButtonColor: "#3085d6",
                    confirmButtonText: "OK",
                  }).then((result) => {
                    // Reload the page after the user clicks OK
                    if (result.isConfirmed) {
                      location.reload();
                    }
                  });
                }
              })
              .catch((error) => {
                // Handle errors
                console.error("Error:", error);
              });
          }
        });
      });
    });
  });
</script>

<%- include("partials/footer"); -%>
