<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- google search console tag -->
    <meta
      name="google-site-verification"
      content="TzXpFaKxH7wQ8-9EJCuewqhSEfAjsM-CfmipBzycAt0"
    />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta
      name="keywords"
      content="book my singer, singer, live band, celebrity, musician, wedding event, corporate event, college event, hire, book, band"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Book My Singer | Book Live Singers, Bands & Celebrities for your events
    </title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/lite-youtube-embed.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/img/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/img/favicon/android-chrome-512x512.png"
    />
    <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />
    <link
      rel="shortcut icon"
      href="/img/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <meta
      property="og:title"
      content="Book My Singer | Book Live Singers, Bands & Celebrities for your events"
    />
    <meta
      property="og:description"
      content="Book My Singer is a company that provides singers, live bands, musicians, instrumentalists, dj for events such as corporate events, college events, wedding events, house parties, private parties, virtual events. We offer a variety of singers, including playback singers, sufi singers, and live ghazal singers"
    />
    <meta property="og:image" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta property="og:url" content="https://bookmysinger.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/img/Book-My-Singer-Logo-Big.png" />
    <meta name="language" content="en" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#f44336" />
    <meta name="msapplication-TileColor" content="#f44336" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WMP6WBM");
    </script>
    <!-- End Google Tag Manager -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#menu-toggle").click(function () {
          $(".mil-menu-transition ul").toggleClass("show-menu");
        });
      });
    </script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WMP6WBM"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- top bar -->
    <div class="mil-top-panel">
      <!-- You need to remove the "mil-dot" class if you don't need a dot -->
      <a href="/" class="mil-logo"
        ><img src="/img/book-my-singer-logo.png" alt="Logo"
      /></a>

      <div class="mil-navigation">
        <nav id="swupMenu" class="mil-menu-transition">
          <ul>
            <li class="mil-has-children mil-active">
              <a href="">Home</a>
            </li>
            <li class="mil-has-children">
              <a href="/artist">Artists</a>
            </li>
            <li class="mil-has-children">
              <a href="/event-category">Events</a>
            </li>
            <li class="mil-has-children">
              <a href="/blog">Blog</a>
            </li>
            <li class="mil-has-children">
              <a href="/#contact">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="mil-top-panel-btns">
        <a
          href="/enquiry"
          class="nav-btn"
          style="
            color: #fff;
            background-color: #f44336;
            white-space: nowrap;
            margin-top: 10%;
          "
        >
          Enquire Now
        </a>

        <div class="mil-menu-btn" id="menu-toggle">
          <span></span>
        </div>
      </div>
    </div>
    <!-- top bar end -->

    <div class="mil-content justify-content-center">
      <div class="mil-scroll-wrapper transition-fade" id="swupMain">
        <div class="mil-container-fw">
          <div class="mil-section-title mil-up">
            <div class="mil-divider"></div>
            <h3>Featured Artists Page</h3>
          </div>

          <section class="mil-p-90-30">
            <div class="row justify-content-between align-items-center">
              <% artists.forEach(function(artist) { %>
              <a href="/artist/<%= artist.artistType %>/<%= artist.linkid %>">
                <div class="col-xl-3 col-lg-2">
                  <div class="mil-icon-box mil-center mil-mb-60">
                    <div class="mil-service-icon mil-up artist">
                      <img
                        src="<%= artist.profilePic %>"
                        alt=""
                        class="mil-mb-30"
                      />
                    </div>
                    <h5 class="mil-up mil-mb-30"><%= artist.name %></h5>
                    <div class="mil-up">
                      <a
                        href="/artist/<%= artist.artistType %>/<%= artist.linkid %>"
                        class="mil-link mil-icon-link"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-arrow-right"
                        >
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </a>
              <% }); %>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div id="whatsapp-chat">
      <a
        href="https://api.whatsapp.com/send?phone=917021630747"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/img/whatsapp.png" alt="Whatsapp" class="whatsappImg" />
      </a>
    </div>
    <div class="call-button">
      <a href="tel:+919833125152">
        <img src="/img/telephone.png" alt="Call" />
      </a>
    </div>

    <%- include("partials/footer"); -%>
  </body>
</html>
