<!DOCTYPE html>
<html lang="en">

<head>
  <meta charSet="utf-8" />

  <link rel="stylesheet" href="/artist/../css/style.css">
  <link rel="stylesheet" href="/artist/../css/singer.css">
  <link rel="stylesheet" href="/artist/../css/lite-youtube-embed.css">
  <link rel="stylesheet" href="/artist/../css/popup.css">
  <link rel="stylesheet" href="/artist/../css/contact-form.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    a {
      color: #f44336;
      text-decoration: underline;
    }
    a:hover {
      color: #5479F7;
      font-variant: small-caps;
    }
    h6 {
      color: black;
      font-size: medium;
      font-weight: bold;
    }
    .blog-content{
      text-align: justify;
    }
  </style>
  <title>
    <%= artistCategory.metaTitle %>
  </title>
  <meta name="description" content="<%= artistCategory.metaDesc %>">
  <meta name="keywords" content="<%= artistCategory.keywords %>">
  <link rel="stylesheet" href="/artist/../css/lite-youtube-embed.css">
  <script src="/artist/../js/lite-youtube-embed.js"></script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMP6WBM');</script>
  <!-- End Google Tag Manager -->
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMP6WBM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- top bar -->
  <div class="mil-top-panel">
    <!-- You need to remove the "mil-dot" class if you don't need a dot -->
    <a href="/" class="mil-logo"><img src="/img/book-my-singer-logo.png" alt="Logo" /></a>

    <div class="mil-navigation">
      <nav id="swupMenu" class="mil-menu-transition">
        <ul>
          <li class="mil-has-children mil-active">
            <a href="">Home</a>
          </li>
          <li class="mil-has-children">
            <a href="/artist">Artists</a>
          </li>
          <li class="mil-has-children">
            <a href="/event-category">Events</a>
          </li>
          <li class="mil-has-children">
            <a href="/blog">Blog</a>
          </li>
          <li class="mil-has-children">
            <a href="/#contact">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="mil-top-panel-btns">
      <a href="contact.html" class="mil-contact-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
      </a>

      <div class="mil-menu-btn">
        <span></span>
      </div>
    </div>
  </div>
  <!-- top bar end -->

  <div class="fixed-button">
    <button onclick="enquire()">ENQUIRE NOW</button>
  </div>

  <div class="mil-content justify-content-center">
    <div class="mil-scroll-wrapper transition-fade" id="swupMain">
      <div class="mil-container-fw">
        <h2 style="padding-top: 5%;">
          <%= artistCategory.title %>
        </h2>

        <% if (artistCategory.gallery.length > 1) { %>
        <div class="section-wrapper pl-60 pr-60 gallery-title">
          <div class="bostami-section-title-wrap mb-30">
              <h3 class="section-title">Gallery</h3>
          </div>
          <div class="row justify-content-between align-items-center">
              <% artistCategory.gallery.forEach(function(image, index) { %>
                  <div class="col-6 col-md-4 mb-4">
                      <a href="#" data-toggle="modal" data-target="#imageModal<%= index %>">
                          <img src="<%= image.link %>" alt="<%= image.alt %>" title="<%= image.title %>" description="<%= image.desc %>" caption="<%= image.caption %>" class="img-fluid rounded">
                      </a>
                  </div>

                  <!-- Modal for Image <%= index %> -->
                  <div class="modal fade" id="imageModal<%= index %>" tabindex="-1" role="dialog"
                      aria-labelledby="imageModalLabel<%= index %>" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="imageModalLabel<%= index %>">Image <%=
                                          index + 1 %>
                                  </h5>
                                  <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body text-center">
                                  <img src="<%= image.link %>" alt="<%= image.alt %>" title="<%= image.title %>" description="<%= image.desc %>" caption="<%= image.caption %>" class="img-fluid">
                              </div>
                          </div>
                      </div>
                  </div>
                  <% }); %>
          </div>

      </div>
      <% } %>
        <% if (artistCategory.events[0].name.length > 0 ) { %>
        <% artistCategory.events.forEach(function(event) { %>
          <div class="section-wrapper pl-60 pr-60 video-div">
            <div class="bostami-what-do-wrap mb-30">
              <div class="bostami-section-title-wrap mb-30">
                <h3 class="section-title">
                  <%= event.name %>
                </h3>
              </div>
              <div class="row">
                <% let i=0; %>
                <% event.links.forEach(function(link) { %>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 video">
                      <div class="youtube-player" videosource="<%= event.type[i] %>" data-id="<%= link %>"></div>
                  </div>
                  <% i++ %>
              <% }); %>
              </div>
            </div>
          </div>
          <% }); %>
          <% } %>

            <div class="section-wrapper pl-60 pr-60 video-div">
              <div class="bostami-what-do-wrap mb-30">
                <div class="content">
                  <div class="item">
                    <div class="blog-content">
                      <% if (artistCategory.blog) { %>
                        <div id="shortBlog">
                          <div>
                            <%- artistCategory.blog.substring(0, 300) %>...
                          </div>
                          <button id="readMoreBtn" class="btn-primary">Read
                            More</button>
                        </div>
                        <div id="fullBlog" class="blog" style="display: none;">
                          <%- artistCategory.blog %>
                            <button id="readLessBtn" class="btn-primary">Read
                              Less</button>
                        </div>
                        <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>

  <div class="col-xxl-12 col-xl-12 col-lg-12 bookmysinger">
    <div class="bostami-page-content-wrap">
        <div class="section-wrapper pl-60 pr-60 pt-60">
          <div class="mil-section-title mil-up">
            <div class="mil-divider"></div>
            <h3>About Book My Singer</h3>
        </div>
            <div class="bostami-page-title-wrap mb-15"  style="padding-top: 2%;">
                <p>Our website makes it simple to engage mesmerizing performers. Enhance your event with
                    captivating vocals and a variety of musical genres. Find the ideal singer for any
                    event, be it a wedding, a celebration, or a business function, to create an
                    unforgettable experience. Let the power of music elevate the significance of your
                    event from Book my singer</p>
            </div>
        </div>

        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Featured Videos</h3>
        </div>

        <!-- featured videos -->
        <div class="section-wrapper pl-60 pr-60 video-div">
          <div class="bostami-what-do-wrap mb-30">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                    <div class="youtube-player" videosource="youtube" data-id="oG6FQaL2vmQ"></div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                  <div class="youtube-player" videosource="youtube" data-id="VeEj_vWOQ5E"></div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                <div class="youtube-player" videosource="youtube" data-id="DRrIobGaW6Q"></div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-3 video">
              <div class="youtube-player" videosource="youtube" data-id="IwlyPWckbKI"></div>
          </div>
            </div>
          </div>
        </div>
        <!-- featured videos end -->

        <!--Artists start-->
        <div class="mil-section-title mil-up">
            <div class="mil-divider"></div>
            <h3>Artists</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-2">
              <a style="text-decoration: none;" href="/artist-category/singers/singers">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/artist-type/singer.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Singers</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Enchant your events with a diverse lineup of talented
                    singers!
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-2">
              <a style="text-decoration: none;" href="/artist-category/live-bands/live-music-bands">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/artist-type/band.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Bands</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Discover the perfect band for your event and create lasting
                    memories.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-2">
              <a style="text-decoration: none;" href="/artist-category/musicians/musician">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/artist-type/musician.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Musician</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Melodies for every occasion: Book musicians for
                    unforgettable events!
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-2">
              <a style="text-decoration: none;" href="/artist-category/dj/dj">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/artist-type/dj.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">DJ</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Elevate your events with a diverse DJ book for every
                    occasion!
                  </p>
                </div>
              </a>
            </div>
          </div>
          <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
              Show More Artist
            </button></a>
        </section>
        <!-- artists end -->
        <!-- events -->
        <div class="mil-section-title mil-up">
            <div class="mil-divider"></div>
            <h3>Events</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
              <a style="text-decoration: none;" href="/event-category/corporate">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/events-type/corporate.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Corporate Events</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Elevate your corporate events with top live singers, bands &
                    celebrities
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a style="text-decoration: none;" href="/event-category/wedding">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/events-type/wedding.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Wedding Events</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Enjoy a wedding celebration with the best live bands,
                    singers, and celebrities to perform.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a style="text-decoration: none;" href="/event-category/college">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/events-type/college.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">College Events</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Bring the campus to life! Get the best musicians, bands, and
                    celebrities for college events.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a style="text-decoration: none;" href="/event-category/house-parties/house-parties-in-mumbai">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/events-type/house.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">House Parties</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Transform house gatherings with live entertainment! Book
                    singers, bands.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a style="text-decoration: none;" href="/event-category/private/private-events">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/events-type/private.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Private Events</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Spice up your private parties! Get top singers, bands &
                    other musicians.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a style="text-decoration: none;" href="/event-category/virtual/virtual-events">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up">
                    <img src="/artist/../img/events-type/virtual.svg" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Virtual Events</h5>
                  <p class="mil-up mil-mb-30 hide-on-mobile">
                    Bringing stars to your screen! Book Singers, Bands & Celebs
                    for virtual events that shine.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <a href="/event-category"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
              Show More Events
            </button></a>
        </section>
        <!-- events end -->

        <!-- featured artists -->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Featured Artists</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <a href="artist/singer/krishna-pandey-live">
              <div class="col-lg-2">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                    <img src="../../img/featured-artists/krishna-pandey.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Krishna Pandey</h5>
                  <div class="mil-up">
                    <a href="/artist/singer/krishna-pandey-live" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </a>
            <div class="col-lg-2">
              <a href="/artist/singer/abhigyan-das-live">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                    <img src="../../img/featured-artists/abhigyan-das.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Abhigyan Das</h5>
                  <div class="mil-up">
                    <a href="/artist/singer/abhigyan-das-live" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-2">
              <a href="/artist/musician/kunal-rajbhatt">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                    <img src="../../img/featured-artists/kunal.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Kunal Rajbhatt</h5>
                  <div class="mil-up">
                    <a href="/artist/musician/kunal-rajbhatt" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-2">
              <a href="/artist/singer/salman-ali">
                <div class="mil-icon-box mil-center mil-mb-60">
                  <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                    <img src="../../img/featured-artists/salman.webp" alt="icon" class="mil-mb-30" />
                  </div>
                  <h5 class="mil-up mil-mb-30">Salman Ali</h5>
                  <div class="mil-up">
                    <a href="/artist/singer/salman-ali" class="mil-link mil-icon-link">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-right">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <a href="/artist"><button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
              Show More Artists
            </button></a>
        </section>
        <!-- featured artists end -->

        <!--Celebrities-->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Celebrities with us</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                  <a href="/artist/celebrity-singer/arijit-singh">
                    <img src="../../img/celebrities/arijit-singh.webp" alt="icon" class="mil-mb-30" />
                  </a>
                </div>
                <a href="/artist/celebrity-singer/arijit-singh">
                  <h5 class="mil-up mil-mb-30">Arijit Singh</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                  <a href="/artist/celebrity-singer/shreya-ghoshal">
                    <img src="../../img/celebrities/shreya-ghoshal.webp" alt="icon" class="mil-mb-30" /></a>
                </div>
                <a href="/artist/celebrity-singer/shreya-ghoshal">
                  <h5 class="mil-up mil-mb-30">Shreya Ghoshal</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                  <a href="/artist/celebrity-singer/sonu-nigam">
                    <img src="../../img/celebrities/sonu-nigam.webp" alt="icon" class="mil-mb-30" /></a>
                </div>
                <a href="/artist/celebrity-singer/sonu-nigam">
                  <h5 class="mil-up mil-mb-30">Sonu Nigam</h5>
                </a>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mil-icon-box mil-center mil-mb-60">
                <div class="mil-service-icon mil-up artist" style="width: 100%; height: 100%;">
                  <a href="/artist/celebrity-singer/neha-kakkar">
                    <img src="../../img/celebrities/neha-kakkar.webp" alt="icon" class="mil-mb-30" /></a>
                </div>
                <a href="/artist/celebrity-singer/neha-kakkar">
                  <h5 class="mil-up mil-mb-30">Neha Kakkar</h5>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!--Celebrities end-->

        <!-- latest videos -->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Latest Videos</h3>
        </div>

        <div class="section-wrapper pl-60 pr-60 video-div">
          <div class="bostami-what-do-wrap mb-30">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                    <div class="youtube-player" videosource="youtube" data-id="M_yEgWkYwNY"></div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                  <div class="youtube-player" videosource="youtube" data-id="VeEj_vWOQ5E"></div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                <div class="youtube-player" videosource="youtube" data-id="qUxT_bwBXik"></div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-3 video">
              <div class="youtube-player" videosource="youtube" data-id="_kpbBCbcT2s"></div>
          </div>
            </div>
          </div>
        </div>
        <!-- latest videos end -->

        <!-- blog -->
        <div id="blog" class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Latest Blog</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <a class="mil-blog-card mil-mb-60" href="/blog/dj-for-wedding">
                <div class="mil-cover mil-up">
                  <img
                    src="https://book-my-singer.s3.ap-south-1.amazonaws.com/website-assets/blog-thumbnail/Hire+DJ+for+wedding.webp"
                    alt="Dj For Wedding" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-15">Hire DJ Player For Wedding Event</h4>
                  <p class="mil-up">With our amazing DJ services, you can book a DJ for wedding that can transform your
                    wedding into a memorable dancing extravaganza.</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a class="mil-blog-card mil-mb-60" href="/blog/female-singers-for-corporate-events">
                <div class="mil-cover mil-up">
                  <img
                    src="https://book-my-singer.s3.ap-south-1.amazonaws.com/website-assets/blog-thumbnail/Hire+Female+Singer+for+Corporate.webp"
                    alt="Hire Female Singers For Corporate Events" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-15">Hire Female Singers For Corporate Events</h4>
                  <p class="mil-up">Elevate the sophistication and charm of your corporate events by booking one of our
                    exceptional female singers.</p>
                </div>
              </a>
            </div>
            <div class="col-lg-4">
              <a class="mil-blog-card mil-mb-60" href="/blog/hire-singers-for-mayra-bhaat">
                <div class="mil-cover mil-up">
                  <img
                    src="https://book-my-singer.s3.ap-south-1.amazonaws.com/website-assets/blog-thumbnail/Hire+Singer+for+Mayra+Bhaat.webp"
                    alt="Hire Singers For Mayra Bhaat" />
                  <div class="mil-link mil-icon-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-arrow-right">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </div>
                </div>
                <div class="mil-descr">
                  <h4 class="mil-up mil-mb-15">Hire Singers For Mayra Bhaat</h4>
                  <p class="mil-up">Hire Singers for Mayra Bhaat in Rajasthani Marwari Wedding from Book My Singer.</p>
                </div>
              </a>
            </div>
          </div>
          <a href="/blog">
            <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto">
              Show More Blogs
            </button>
          </a>
        </section>
        <!-- blog end -->

        <!-- revievs -->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Reviews</h3>
        </div>

        <section class="mil-p-90-30">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
              <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
                <h5 class="mil-up mil-mb-30">"Amazing Talent at Our Wedding"</h5>
                <p class="mil-up mil-mb-30 test-name">
                  Book My Singer made our wedding unforgettable with a soulful performance. The singer they provided
                  was phenomenal, setting the perfect mood for our special day.
                </p>
                <img src="../../img/reviews-img/Narendra-gauhar.jpeg" alt="icon" class="review-img" />
                <p class="mil-up mil-mb-30 test-name">Narendra Gauhar</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
                <h5 class="mil-up mil-mb-30">"Musical Delight for Corporate Event"</h5>
                <p class="mil-up mil-mb-30 test-name">
                  Book My Singer delivered an exceptional musician for our corporate event. The performance was
                  seamless, elevating the event's ambiance and impressing all our attendees
                </p>
                <img src="../../img/reviews-img/harsh-paradise-events.jpg" alt="icon" class="review-img" />
                <p class="mil-up mil-mb-30 test-name">Harsh Mehta</p>
              </div>
            </div>
            <!-- <div class="col-lg-4">
              <div class="mil-icon-box mil-center mil-mb-60 testimonial-border">
                <h5 class="mil-up mil-mb-30">"Rocking Night with Live Band"</h5>
                <p class="mil-up mil-mb-30 test-name">
                  Book My Singer arranged a fantastic live band that rocked our party. The band's energy and music had
                  everyone dancing the night away. Highly recommended!
                </p>
                <img src="img/reviews-img/Narendra-gauhar.jpeg" alt="icon" class="review-img" />
                <p class="mil-up mil-mb-30 test-name">Anand Sharma</p>
              </div>
            </div> -->
          </div>
        </section>
        <!-- revievs end -->

        <!-- testimonial videos -->
        <div class="mil-section-title mil-up">
          <div class="mil-divider"></div>
          <h3>Testinomials Video</h3>
        </div>

        <div class="section-wrapper pl-60 pr-60 video-div">
          <div class="bostami-what-do-wrap mb-30">
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                    <div class="youtube-player" videosource="youtube" data-id="mfOx5pFbXQQ"></div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                  <div class="youtube-player" videosource="youtube" data-id="w4sG8KULXf0"></div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-3 video">
                <div class="youtube-player" videosource="youtube" data-id="fuZKlREuxPM"></div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-3 video">
              <div class="youtube-player" videosource="youtube" data-id="MUztzWFS03Y"></div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-3 video">
            <div class="youtube-player" videosource="youtube" data-id="aXqlCJwouxU"></div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-3 video">
          <div class="youtube-player" videosource="youtube" data-id="C0RRiIXSRUs"></div>
      </div>
            </div>
          </div>
        </div>
        <!-- testimonial videos end -->

      <!-- call to action -->
      <section class="mil-p-0-90">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="mil-center">
              <div id="contact" class="mil-p-90-60">
                <form id="contactForm" action="/contact-form" method="POST" class="row align-items-center">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <label class="form-label">Name</label>
                          <input type="text" name="name" class="form-control" required autocomplete="off" />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">Contact Number</label>
                          <input type="number" name="contact" class="form-control" autocomplete="off" required />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">Event Type</label>
                          <select name="eventType" class="form-control" id="artistTypeSelect" required>
                            <option value="corporate">Corporate Event</option>
                            <option value="wedding">Wedding Event</option>
                            <option value="college">College Event</option>
                            <option value="private">Private Event</option>
                            <option value="house">House Parties</option>
                            <option value="virtual">Virtual Event</option>
                            <option value="other">Any Other</option>
                          </select>
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">Event Date</label>
                          <input type="date" name="date" class="form-control" autocomplete="off" required />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-outline mb-4">
                          <label class="form-label">Email Address</label>
                          <input type="email" name="email" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">Event City</label>
                          <input type="text" name="city" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">Artist Type</label>
                          <select name="artistType" class="form-control" id="artistTypeSelect" required>
                            <option value="singer">Singer</option>
                            <option value="musician">Musician</option>
                            <option value="live-band">Live Band</option>
                            <option value="dj">Dj</option>
                            <option value="actor">Actor</option>
                            <option value="comedian">Comedian</option>
                          </select>
                        </div>
                        <div class="form-outline mb-4">
                          <label class="form-label">Budget</label>
                          <input type="number" name="budget" class="form-control" autocomplete="off" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Message</label>
                    <textarea name="message" class="form-control" cols="30" rows="10"></textarea>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LcO1TAoAAAAAFgMNRsIWJo_RIcv3qI5trmTiRdH"></div>
                  <button class="show-more-btn" style="text-align: center; display: block; margin: 0 auto"
                    type="submit">Submit</button>
                </form>

                <!-- Loader popup -->
                <div id="loader" style="display: none;">
                  Loading...
                </div>

                <!-- Success/Error message -->
                <div id="message" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- call to action end -->
    </div>
</div>

  <!-- footer -->
  <footer class="mil-fw">
    <p class="mil-light-soft">
      © 2023. Book My Singer. All rights reserved.
    </p>
  </footer>
  <!-- footer end -->
  </div>
  </div>
  </div>
  <!-- content -->

  <div id="whatsapp-chat">
    <a href="https://api.whatsapp.com/send?phone=917021630747" target="_blank" rel="noopener noreferrer">
      <img src="/img/whatsapp.png" alt="Whatsapp" class="whatsappImg" />
    </a>
  </div>
  <div class="call-button">
    <a href="tel:+919833125152">
      <img src="/img/telephone.png" alt="Call" />
    </a>
  </div>

  <!-- Pop Up Form -->
  <div
  class="modal fade popup"
  id="contactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="contactModalLabel"
  aria-hidden="true"
  style="margin-top: 3%"
>
  <div class="modal-dialog" role="document">
    <div
      class="modal-content"
      style="background-color: #202124; color: #f44336"
    >
      <div class="modal-header">
        <h5
          class="modal-title"
          id="contactModalLabel"
          style="color: #f44336; padding-top: 4%"
        >
          Contact Form
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="margin-top: 1%; color: white"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="contactForm" method="POST" action="/contact-form">
          <!-- Page 1: Name, Email, Contact Number -->
          <div id="page1" class="form-page">
            <div class="form-group">
              <label for="name">Name:</label><br>
              <input
                type="text"
                class="form-control popup-form-input"
                id="name"
                name="name"
                required
                placeholder="Enter your name"
                style="background-color: white"
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address:</label><br>
              <input
                type="email"
                class="form-control popup-form-input"
                id="email"
                name="email"
                placeholder="Enter your Email Address"
                style="background-color: white"
              />
            </div>
            <div class="form-group">
              <label for="contact">Contact Number:</label><br>
              <input
                type="text"
                class="form-control popup-form-input"
                id="contact"
                name="contact"
                pattern="[0-9]{10,10}"
                autocomplete="off"
                maxlength="10"
                onKeyPress="return isNumber(event)"
                placeholder="Enter Mobile Number"
                aria-describedby="basic-addon1"
                required
                style="background-color: white"
              />
            </div>
        
            <button
              type="button"
              class="btn btn-primary"
              onclick="showPage('page2')"
              style="background-color: #f44336; text-align: center; display: block; margin: 0 auto;"
            >
              Next
            </button>
          </div>
        
          <!-- Page 2: Event Type, Event City, Artist Type, Event Date, Budget -->
          <div id="page2" class="form-page" style="display: none;">
            <div class="form-row">
              <div class="form-group half-width">
                <label for="eventType">Event Type:</label>
                <select name="eventType" class="form-control popup-form-input" id="artistTypeSelect" required>
                  <option value="corporate">Corporate Event</option>
                  <option value="wedding">Wedding Event</option>
                  <option value="college">College Event</option>
                  <option value="private">Private Event</option>
                  <option value="house">House Parties</option>
                  <option value="virtual">Virtual Event</option>
                  <option value="other">Any Other</option>
                </select>
              </div>
              <div class="form-group half-width">
                <label for="eventCity">Event City:</label>
                <input
                  type="text"
                  class="form-control popup-form-input"
                  id="eventCity"
                  name="city"
                  required
                  placeholder="Enter Event City"
                  style="background-color: white"
                />
              </div>
            </div>
        
            <div class="form-row">
              <div class="form-group half-width">
                <label for="artistType">Artist Type:</label>
                <select name="artistType" class="form-control popup-form-input" id="artistTypeSelect" required>
                  <option value="singer">Singer</option>
                  <option value="musician">Musician</option>
                  <option value="live-band">Live Band</option>
                  <option value="dj">Dj</option>
                  <option value="actor">Actor</option>
                  <option value="comedian">Comedian</option>
                </select>
              </div>
              <div class="form-group half-width">
                <label for="eventDate">Event Date:</label>
                <input
                  type="date"
                  class="form-control popup-form-input"
                  id="eventDate"
                  name="date"
                  required
                  style="background-color: white"
                />
              </div>
            </div>
        
            <div class="form-group">
              <label for="budget">Budget:</label><br>
              <input
                type="number"
                class="form-control popup-form-input"
                id="budget"
                name="budget"
                required
                placeholder="Enter Budget in rupees"
                style="background-color: white"
              />
            </div>

            <div
            class="g-recaptcha"
            style="margin-top: 5%; margin-bottom: 5%"
            data-sitekey="6LcO1TAoAAAAAFgMNRsIWJo_RIcv3qI5trmTiRdH"
          ></div>
        
            <button
              type="submit"
              class="btn btn-primary"
              style="background-color: #f44336; text-align: center; display: block; margin: 0 auto;"
            >
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

  <script>
    const readMoreBtn = document.getElementById('readMoreBtn');
    const readLessBtn = document.getElementById('readLessBtn');
    const shortBlog = document.getElementById('shortBlog');
    const fullBlog = document.getElementById('fullBlog');

    readMoreBtn.addEventListener('click', () => {
      shortBlog.style.display = 'none';
      fullBlog.style.display = 'block';
    });

    readLessBtn.addEventListener('click', () => {
      shortBlog.style.display = 'block';
      fullBlog.style.display = 'none';
    });
  </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
        setTimeout(function () {
          $("#contactModal").modal("show");
        }, 10000);
      });


      function enquire() {
        $("#contactModal").modal("show");
      }

    function showPage(pageId) {
    var currentPage = document.getElementById(pageId);
    var otherPage = document.getElementById(pageId === 'page1' ? 'page2' : 'page1');

    // Check if required fields on page 1 are filled
    // if (pageId === 'page2' && !validatePage1()) {
    //   alert("Please fill in all details on page 1.");
    //   return;
    // }

    currentPage.style.display = 'block';
    otherPage.style.opacity = '0';
    setTimeout(function () {
      otherPage.style.display = 'none';
      currentPage.style.opacity = '1';
    }, 500);
  }

  function validatePage1() {
    var name = document.getElementById('name').value;
    var contact = document.getElementById('contact').value;

    // Add additional validation as needed
    return name && contact;
  }
  </script>
</body>

</html>