<%- include("partials/header"); -%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <div class="mil-content">
        <div class="mil-scroll-wrapper transition-fade" id="swupMain">
            <div class="mil-container-fw">
                <div class="mil-section-title mil-up">
                    <div class="mil-divider"></div>
                    <h3>Blog Edit Form</h3>
                </div>

                <form id="myForm" action="/edit-blog" method="POST">
                    <label for="keywords">1. Keywords (Comma Seperated Value)</label>
                    <input type="text" name="keywords" class="form-control" value="<%= blog.keywords %>">

                    <label for="title">2. Enter Blog Title</label>
                    <input type="text" name="title" class="form-control" value="<%= blog.title %>">

                    <h4>Meta Tag Details</h4>
                    <label for="metaTitle">3. Meta Tag Title (Not More than 70 Characters)</label>
                    <input type="text" name="metaTitle" class="form-control" maxlength="70"
                        value="<%= blog.metaTitle %>">

                    <label for="metaDesc">4. Meta Tag Description (Not more than 250 Characters)</label>
                    <textarea name="metaDesc" class="form-control"><%= blog.metaDesc %></textarea>

                    <label for="title">5. Enter Blog Thumbnail (3 x 2)</label>
                    <input type="text" name="thumbnail" class="form-control" value="<%= blog.thumbnail %>">

                    <label for="title">6. Thumbnail Caption</label>
                    <input type="text" name="thumbCap" class="form-control" value="<%= blog.thumbCap %>">

                    <!-- Gallery Links -->
                    <h4>Image Gallery Details</h4>
                    <div id="galleryContainer">
                        <% for (let i=0; i < blog.gallery.length; i++) { %>
                            <div class="gallery">
                                <label for="galleryLink">Gallery Link <%= i+1 %>:</label>
                                <input type="text" id="galleryLink" name="gallery[<%= i %>][link]" class="form-control"
                                    value="<%= blog.gallery[i].link %>">
                                <label>Alt Text <%= i+1 %></label>
                                <input type="text" name="gallery[<%= i %>][alt]" class="form-control"
                                    value="<%= blog.gallery[i].alt %>">
                                <label>Title Text <%= i+1 %></label>
                                <input type="text" name="gallery[<%= i %>][title]" class="form-control"
                                    value="<%= blog.gallery[i].title %>">
                                <label>Description Text <%= i+1 %></label>
                                <input type="text" name="gallery[<%= i %>][desc]" class="form-control"
                                    value="<%= blog.gallery[i].desc %>">
                                <label>Caption Text <%= i+1 %></label>
                                <input type="text" name="gallery[<%= i %>][caption]" class="form-control"
                                    value="<%= blog.gallery[i].caption %>">
                                <br><br>
                                <hr>
                            </div>
                            <% } %>
                    </div>

                    <button type="button" id="addGalleryLink" class="btn-primary">Add More Gallery Link</button><br><br>

                    <!-- Event Links -->
                    <h3>Videos</h3>
                    <div id="eventsContainer">
                        <% for (let i=0; i < blog.events.length; i++) { %>
                        <label for="eventName">Event Name:</label>
                        <input type="text" id="eventName" name="eventName[<%= i %>]" class="form-control" value="<%= blog.events[i].name %>">
                        <% for (let j=0; j < blog.events[i].links.length; j++) { %>
                        <label for="youtubeLink">Event Link:</label>
                        <input type="text" id="eventLink" name="eventType[<%= i %>][<%= j %>]" class="form-control" value="<%= blog.events[i].links[j] %>">
                        <% } %>
                        <button type="button" id="addEventLink1" onclick="addEventLink()" class="btn-primary">Add More
                            Event Link</button><br><br>
                            <% } %>
                    </div>
                    <button type="button" id="addEventTypeLink" class="btn-danger">Add More Event
                        Types</button><br><br>

                    <label for="blog">8. Blog</label>
                    <textarea id="editor" name="blog" id="editor" class="form-control"><%- blog.blog %></textarea>

                    <!-- Related Blog Links -->
                    <h4>9. Related Blog Details</h4>
                    <label>Related Blog Link ID:</label>
                    <% let i=1 %>
                        <% blog.relatedBlog.forEach(function(blog) { %>
                            <input type="text" name="relatedBlog[<%= i %>]" class="form-control" value="<%= blog %>">
                            <% i++ %>
                                <% }); %>

                                    <button type="button" id="addRelatedBlog" class="btn-primary">Add More Related
                                        Blog</button><br><br>

                                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>

                <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
                <script>
                    // Define a configuration object with limited features
                    var limitedConfig = {
                        toolbar: [
                            // Specify the toolbar buttons you want to include
                            'heading', '|', 'link'
                        ],
                        heading: {
                            options: [
                                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                            ]
                        }
                        // You can include any other configuration options you need
                    };

                    // Create the CKEditor instance using the limited configuration
                    ClassicEditor.create(document.querySelector("#editor"), limitedConfig)
                        .catch(err => {
                            console.error(err);
                        });
                </script>
                <script>
                    const addGalleryLinkBtn = document.getElementById("addGalleryLink");
                    const addEventLinkBtn = document.getElementById("addEventLink");
                    const addEventTypeLinkBtn = document.getElementById("addEventTypeLink");
                    const eventsContainer = document.getElementById("eventsContainer");
                    const addRelatedBlogBtn = document.getElementById("addRelatedBlog");
                    const galleryContainer = document.getElementById("galleryContainer");

                    let galleryCount = 1;
                    let eventCount = 1;
                    let eventTypeCount = 1;
                    let blogCount = 1;

                    addGalleryLinkBtn.addEventListener("click", () => {
                        galleryCount++;
                        const galleryDiv = document.createElement("div");
                        galleryDiv.className = "gallery";
                        galleryDiv.innerHTML = `
                        <label for="galleryLink">Gallery Link ${galleryCount}:</label>
                            <input type="text" id="galleryLink" name="gallery[${galleryCount}][link]" class="form-control">
                            <label>Alt Text ${galleryCount}</label>
                            <input type="text" name="gallery[${galleryCount}][alt]" class="form-control">
                            <label>Title Text ${galleryCount}</label>
                            <input type="text" name="gallery[${galleryCount}][title]" class="form-control">
                            <label>Description Text ${galleryCount}</label>
                            <input type="text" name="gallery[${galleryCount}][desc]" class="form-control">
                            <label>Caption Text ${galleryCount}</label>
                            <input type="text" name="gallery[${galleryCount}][caption]" class="form-control">
                        `;
                        galleryContainer.appendChild(galleryDiv);
                    });

                    addRelatedBlogBtn.addEventListener("click", () => {
                        blogCount++;
                        const relatedBlogInput = document.createElement("input");
                        relatedBlogInput.type = "text";
                        relatedBlogInput.name = `relatedBlog[${blogCount}]`;
                        relatedBlogInput.classList = "form-control"
                        document.getElementById("myForm").insertBefore(relatedBlogInput, addRelatedBlogBtn);
                    });

                    function addEventLink() {
                        document.getElementById(`addEventLink${eventCount}`)
                            .addEventListener("click", () => {
                                console.log("i am pressed");
                                eventCount++;
                                const eventLinkInput = document.createElement("input");
                                eventLinkInput.type = "text";
                                eventLinkInput.name = `eventType[${eventTypeCount}][${eventCount}]`;
                                eventLinkInput.classList = "form-control"
                                eventsContainer.insertBefore(eventLinkInput, addEventLinkBtn);
                            });
                        eventCount++;
                    }

                    addEventTypeLinkBtn.addEventListener("click", () => {
                        eventCount = 1;
                        eventTypeCount++;
                        const eventDiv = document.createElement("div");
                        eventDiv.className = "event";
                        eventDiv.innerHTML = `
                            <label for="eventName">Event Name:</label>
                            <input type="text" name="eventName[${eventTypeCount}]" class="form-control">
                            <label for="youtubeLink">Event Link:</label>
                            <input type="text" name="eventType[${eventTypeCount}][1]" class="form-control">
                            <button type="button" id="addEventLink${eventTypeCount}" onclick="addEventLink()" class="btn-primary">Add More Event Link</button><br><br>
                        `;
                        eventsContainer.appendChild(eventDiv);
                    });
                </script>

                <%- include("partials/footer"); -%>