<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <link rel="stylesheet" href="/artist/../css/singer.css">
    <link rel="stylesheet" href="/artist/../css/lite-youtube-embed.css">
    <script src="/artist/../js/lite-youtube-embed.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= artist.metaTitle %>
    </title>
    <meta name="description" content="<%= artist.metaDesc %>">
    <meta name="keywords" content="<%= artist.keywords %>">
    <!-- Google Font -->
</head>

<body class="">
    <!-- top bar -->
    <div class="mil-top-panel">

        <a href="/" class="mil-logo"><img src="/artist/../img/book-my-singer-logo.png" alt="Logo"></a>

        <div class="mil-navigation">
            <nav id="swupMenu" class="mil-menu-transition">
                <ul>
                    <li class="mil-has-children mil-active">
                        <a href="">Home</a>
                    </li>
                    <li class="mil-has-children">
                        <a href="">About</a>
                    </li>
                    <li class="mil-has-children">
                        <a href="">Singers</a>
                    </li>
                    <li><a href="contact.html">Events</a></li>
                    <li class="mil-has-children">
                        <a href="">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="mil-top-panel-btns">
            <a href="contact.html" class="mil-contact-btn" style="color: #fff;">
                Get a Quote
            </a>

            <!-- <div class="mil-menu-btn">
                <span></span>
            </div> -->
        </div>

    </div>
    <!-- top bar end -->
    <div class="page-wrapper home-3">
        <div class="container z-index-3">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="bostami-parsonal-info-area div">
                        <div class="bostami-parsonal-info-area div">
                            <div class="bostami-parsonal-info-wrap">
                                <div class="bostami-parsonal-info-img"><img alt="author" width="240" height="240"
                                        decoding="async" data-nimg="1" src="<%= artist.profilePic %>" />
                                </div>
                            </div>
                            <h4 class="bostami-parsonal-info-name"><a href="#">
                                    <%= artist.name %>
                                </a></h4><span class="bostami-parsonal-info-bio mb-15">
                                <%= artist.artistType %>
                            </span>
                            <div class="bostami-parsonal-info-contact mb-30">
                                <div class="bostami-parsonal-info-contact-item">
                                    <div style="color:#f44336;font-size:22px" class="icon">
                                        <img src="/artist/../img/icons/call.svg" alt="call">
                                    </div>
                                    <div class="text"><span>Phone</span>
                                        <p>
                                            <%= artist.contact %>
                                        </p>
                                    </div>
                                </div>
                                <div class="bostami-parsonal-info-contact-item">
                                    <div style="color:#f44336;font-size:22px" class="icon">
                                        <img src="/artist/../img/icons/location-pin.svg" alt="location">
                                    </div>
                                    <div class="text"><span>Location</span>
                                        <p>
                                            <%= artist.location %>
                                        </p>
                                    </div>
                                </div>
                                <div class="bostami-parsonal-info-contact-item">
                                    <div style="color:#f44336;font-size:22px" class="icon">
                                        <img src="/artist/../img/icons/rupee.svg" alt="rupee">
                                    </div>
                                    <div class="text"><span>Starts From</span>
                                        <p>₹ <%= artist.price %>/-</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mil-upper mil-dark mil-up mil-btn mil-sm-btn btn"><a style="color: #fff;">Book
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="bostami-page-content-wrap div">
                        <div class="section-wrapper pl-60 pr-60 pt-60">
                            <div class="bostami-page-title-wrap mb-15">
                                <h2 class="page-title">about</h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/artist-code.svg" alt="artist-code">
                                            </div>
                                            <div class="text"><span>ID</span>
                                                <p>
                                                    <%= artist.code %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/musical-note.svg" alt="genre">
                                            </div>
                                            <div class="text"><span>Genre</span>
                                                <p>
                                                    <%= artist.genre %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/bollywood.svg" alt="playback">
                                            </div>
                                            <div class="text"><span>Playback</span>
                                                <p>
                                                    <%= artist.playback %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/duration.svg" alt="time">
                                            </div>
                                            <div class="text"><span>Time</span>
                                                <p>
                                                    <%= artist.time %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/awards.svg" alt="awards">
                                            </div>
                                            <div class="text"><span>Awards</span>
                                                <p>
                                                    <%= artist.awards %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/event.svg" alt="events">
                                            </div>
                                            <div class="text"><span>Events</span>
                                                <p>
                                                    <%= artist.events %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/speaking.svg" alt="languages">
                                            </div>
                                            <div class="text"><span>Languages</span>
                                                <p>
                                                    <%= artist.languages %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/original.svg" alt="original">
                                            </div>
                                            <div class="text"><span>Original</span>
                                                <p>
                                                    <%= artist.original %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="bostami-parsonal-info-contact-item">
                                            <div style="color:#f44336;font-size:22px" class="icon">
                                                <img src="/artist/../img/icons/Instruments.svg" alt="instruments">
                                            </div>
                                            <div class="text"><span>Instruments</span>
                                                <p>
                                                    <%= artist.instruments %>
                                                </p>
                                            </div>
                                        </div>
                                        <% if (artist.bandMemberName.length> 1) {%>
                                            <div class="bostami-parsonal-info-contact-item">
                                                <div style="color:#f44336;font-size:22px" class="icon"><i
                                                        class="fa-solid fa-user"></i></div>
                                                <div class="text"><span>Band members</span>
                                                    <p>
                                                        <%= artist.bandMemberName %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-wrapper pl-60 pr-60 gallery-title">
                            <div class="bostami-section-title-wrap mb-30">
                                <h3 class="section-title">Gallery</h3>
                            </div>
                            <div class="row justify-content-between align-items-center">
                                <% artist.gallery.forEach(function(image, index) { %>
                                    <div class="col-6 col-md-4 mb-4">
                                        <a href="#" data-toggle="modal" data-target="#imageModal<%= index %>">
                                            <img src="<%= image.link %>" alt="<%= image.alt %>" title="<%= image.title %>" description="<%= image.desc %>" caption="<%= image.caption %>" class="img-fluid rounded">
                                        </a>
                                    </div>

                                    <!-- Modal for Image <%= index %> -->
                                    <div class="modal fade" id="imageModal<%= index %>" tabindex="-1" role="dialog"
                                        aria-labelledby="imageModalLabel<%= index %>" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="imageModalLabel<%= index %>">Image <%=
                                                            index + 1 %>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <img src="<%= image.link %>" alt="<%= image.alt %>" title="<%= image.title %>" description="<%= image.desc %>" caption="<%= image.caption %>" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>

                        </div>
                        <% let i=0 %>
                        <% artist.eventName.forEach(function(event) { %>
                                <div class="section-wrapper pl-60 pr-60 video-div">
                                    <div class="bostami-what-do-wrap mb-30">
                                        <div class="bostami-section-title-wrap mb-30">
                                            <h3 class="section-title">
                                                <%= event %>
                                            </h3>
                                        </div>
                                        <div class="row">
                                            <% artist.eventType[i].forEach(function(link) { %>
                                                <div class="col-xxl-6 col-xl-6 col-lg-6 video">
                                                    <lite-youtube videoid="<%= link %>"
                                                        params="controls=1"></lite-youtube>
                                                </div>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                            <% i++ %>
                        <% }); %>

                                    <% if (artist.testLinks && artist.testLinks.length> 0) { %>
                                        <div class="section-wrapper pl-60 pr-60 video-div">
                                            <div class="bostami-what-do-wrap mb-30">
                                                <div class="bostami-section-title-wrap mb-30">
                                                    <h3 class="section-title">Testimonial Videos</h3>
                                                </div>
                                                <div class="row">
                                                    <% artist.testLinks.forEach(function(link) { %>
                                                        <div class="col-xxl-6 col-xl-6 col-lg-6 video">
                                                            <lite-youtube videoid="<%= link %>"
                                                                params="controls=1"></lite-youtube>
                                                        </div>
                                                        <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>

                                            <div class="section-wrapper pl-60 pr-60 video-div">
                                                <div class="bostami-what-do-wrap mb-30">
                                                    <div class="bostami-section-title-wrap mb-30">
                                                        <h3 class="section-title">Reviews</h3>
                                                    </div>
                                                    <div class="row justify-content-between align-items-center">
                                                        <% artist.reviews.forEach(function(review) { %>
                                                            <div class="col-lg-6">
                                                                <div class="mil-icon-box mil-center mil-mb-60">
                                                                    <h5 class="mil-up mil-mb-30">"<%= review.title %>"
                                                                    </h5>
                                                                    <p class="mil-up mil-mb-30 test-name">
                                                                        <%= review.desc %>
                                                                    </p>
                                                                    <img src="<%= review.pic %>" alt="icon"
                                                                        class="review-img" />
                                                                    <p class="mil-up mil-mb-30 test-name">
                                                                        <%= review.name %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <% }); %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="section-wrapper pl-60 pr-60 video-div">
                                                <div class="bostami-what-do-wrap mb-30">
                                                    <div class="content">
                                                        <div class="item">
                                                            <h1>Biography - <%= artist.name %>
                                                            </h1>
                                                            <div class="blog-content">
                                                                <% if (artist.blog) { %>
                                                                    <div id="shortBlog">
                                                                        <div>
                                                                            <%- artist.blog.substring(0, 300) %>...
                                                                        </div>
                                                                        <button id="readMoreBtn"
                                                                            class="btn-primary">Read
                                                                            More</button>
                                                                    </div>
                                                                    <div id="fullBlog" class="blog"
                                                                        style="display: none;">
                                                                        <%- artist.blog %>
                                                                            <button id="readLessBtn"
                                                                                class="btn-primary">Read
                                                                                Less</button>
                                                                    </div>
                                                                    <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 bookmysinger">
                    <div class="bostami-page-content-wrap">
                        <div class="section-wrapper pl-60 pr-60 pt-60">
                            <div class="bostami-page-title-wrap mb-15">
                                <h2 class="page-title">about book my singer</h2>
                                <p>Our website makes it simple to engage mesmerizing performers. Enhance your event with
                                    captivating vocals and a variety of musical genres. Find the ideal singer for any
                                    event, be it a wedding, a celebration, or a business function, to create an
                                    unforgettable experience. Let the power of music elevate the significance of your
                                    event from Book my singer</p>
                            </div>
                        </div>
                        <!--Artists start-->
                        <div class="mil-section-title mil-up">
                            <div class="mil-divider"></div>
                            <h3>Artists</h3>
                        </div>

                        <section class="mil-p-90-30">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-lg-2">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/artist-type/singer.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Singers</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Enchant your events with a diverse
                                            lineup of
                                            talented singers!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/artist-type/band.svg" alt="icon" class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Bands</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Discover the perfect band for your
                                            event and create
                                            lasting memories.</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/artist-type/musician.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Musician</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Melodies for every occasion: Book
                                            skilled musicians
                                            for unforgettable
                                            events!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/artist-type/dj.svg" alt="icon" class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">DJ</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Elevate your events with a diverse DJ
                                            book for every
                                            occasion!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- artists end -->
                        <!-- events -->
                        <div class="mil-section-title mil-up">
                            <div class="mil-divider"></div>
                            <h3>Events</h3>
                        </div>

                        <section class="mil-p-90-30">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-6 col-md-4">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/events-type/corporate.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Corporate</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Enchant your events with a diverse
                                            lineup of
                                            talented singers!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/events-type/wedding.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Wedding</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Discover the perfect band for your
                                            event and create
                                            lasting memories.</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/events-type/college.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">College</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Melodies for every occasion: Book
                                            skilled musicians
                                            for unforgettable
                                            events!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/events-type/house.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">House</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Elevate your events with a diverse DJ
                                            book for every
                                            occasion!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/events-type/private.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Private</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Elevate your events with a diverse DJ
                                            book for every
                                            occasion!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="mil-icon-box mil-center mil-mb-60">
                                        <div class="mil-service-icon mil-up">
                                            <img src="/artist/../img/events-type/virtual.svg" alt="icon"
                                                class="mil-mb-30">
                                        </div>
                                        <h5 class="mil-up mil-mb-30">Virtual</h5>
                                        <p class="mil-up mil-mb-30 hide-on-mobile">Elevate your events with a diverse DJ
                                            book for every
                                            occasion!</p>
                                        <div class="mil-up">
                                            <a href="service.html" class="mil-link mil-icon-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-arrow-right">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                    <polyline points="12 5 19 12 12 19"></polyline>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- events end -->
                        <div class="footer-copyright text-center pt-25 pb-25"><span>© 2023 All Rights
                                Reserved by www.bookmysinger.com</span></div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script>
    const readMoreBtn = document.getElementById('readMoreBtn');
    const readLessBtn = document.getElementById('readLessBtn');
    const shortBlog = document.getElementById('shortBlog');
    const fullBlog = document.getElementById('fullBlog');

    readMoreBtn.addEventListener('click', () => {
        shortBlog.style.display = 'none';
        fullBlog.style.display = 'block';
    });

    readLessBtn.addEventListener('click', () => {
        shortBlog.style.display = 'block';
        fullBlog.style.display = 'none';
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modals = document.querySelectorAll('.modal');
        var modalTriggers = document.querySelectorAll('[data-toggle="modal"]');

        modalTriggers.forEach(function (trigger) {
            trigger.addEventListener('click', function () {
                var target = document.querySelector(trigger.getAttribute('data-target'));
                if (target) {
                    target.classList.add('show');
                    target.style.display = 'block';
                    document.body.classList.add('modal-open');
                }
            });
        });

        modals.forEach(function (modal) {
            modal.addEventListener('click', function (event) {
                if (event.target === modal) {
                    modal.classList.remove('show');
                    modal.style.display = 'none';
                    document.body.classList.remove('modal-open');
                }
            });
        });

        var closeButtons = document.querySelectorAll('[data-dismiss="modal"]');
        closeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var modal = button.closest('.modal');
                if (modal) {
                    modal.classList.remove('show');
                    modal.style.display = 'none';
                    document.body.classList.remove('modal-open');
                }
            });
        });
    });
</script>

</html>